/* AUTH FORM STYLES */
#auth-element {
  font-family: "Georgia", serif;
}

#auth-form-wrapper {
  font-family: "Georgia", serif;
  margin: 1.5rem auto;
  max-width: 500px;
  padding: 1.5rem 2rem;
  background: #fafbfc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#auth-form-wrapper li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#auth-pw-list-item {
  margin-bottom: 1.5rem;
}

#auth-label {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: #2d3748;
}
